# Database
sqlalchemy
psycopg2-binary
asyncpg
python-dotenv

# T-Bank SDK (Прямая ссылка, чтобы Docker не ругался)
https://files.pythonhosted.org/packages/89/41/ca4f7b8985c74035744313af8af999d82e5793f8f3fc676b7580dadc9653/t_tech_investments-0.3.3-py3-none-any.whl